/*
 * Стили для страницы товара
 */
.product-main {

}

.product-main__top {

}

.product-main__gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product-main__thumbs-block {
  position: relative;
}

.products-swiper-button-prev {
  top: -10px;
  left: 50%;
  bottom: auto;
  transform: translateX(-50%) rotate(90deg);
  background-size: 27px 27px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.products-swiper-button-next {
  top: auto;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  background-size: 27px 27px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.gallery-product-thumbs {
  max-height: 200px;
}

.gallery-product-thumbs .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.gallery-product-thumbs .swiper-slide {
  width: 50px;
  height: 50px;
}

.gallery-product-thumbs .swiper-slide img {
  width: 100%;
  height: auto;
}

.gallery-product-top {
  max-width: 200px;
  margin: 0;
  position: relative;
}

.gallery-product-top .slider-product__label {
  z-index: 2;
}

.product-main__bottom {

}
